.app {
  height: 100%;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 30px;

  .addHome {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    background-color: teal;
    border-radius: 2px;
    color: white;
    font-weight: bold;
  }

  h1 {
    margin-bottom: 50px;
  }

  .users {
    display: flex;

    button {
      padding: 3px 6px;
      background-color: white;
      cursor: pointer;
    }
    .delete {
      border: 1px solid rgb(245, 191, 191);
      color: rgb(242, 100, 100);
    }
    .update {
      border: 1px solid rgb(204, 204, 243);
      color: rgb(139, 139, 234);
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
      width: 250px;
      padding: 10px;
      border: 1px solid gray;
    }

    textarea {
      padding: 10px;
    }

    button {
      border: none;
      padding: 10px;
      background-color: white;
      background-color: teal;
      color: white;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
